@import url('https://fonts.googleapis.com/css2?family=Asap&family=Roboto+Flex:opsz,wght@8..144,500&display=swap');
* {
    background-color: white;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Flex', sans-serif;
    transition: ease-in 0.2s;
}

header {
    color: rgb(47, 41, 41);
    background-color: rgb(251, 229, 229);
    text-align: center;
    padding: 20px;
    font-size: xx-large;
    font-weight: bolder;
    animation: text 3s 1;
}

.container {
    position: relative;
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 2em;
}

.left {
    position: absolute;
    opacity: 1;
}

.right {
    position: absolute;
    opacity: 0;
}

.score-board {
    display: flex;
    margin-top: 200px;
    align-items: center;
    justify-content: center;
}

.score-board>a {
    font-size: xx-large;
    justify-content: center;
}

.numpad {
    padding-top: px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.numpad>button {
    font-size: xx-large;
    width: 33.333%;
    border: none;
    padding-right: 10px;
    transition: ease 0.3s;
    border-radius: 10px;
}

.numpad>button:hover {
    cursor: pointer;
    background-color: rgb(246, 201, 201);
}

#check:hover {
    background-color: rgb(152, 211, 211);
}

#reset:hover {
    background-color: rgb(237, 68, 68);
}

.numinp {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

#inp {
    font-size: x-large;
    padding: 10px;
    border-radius: 15px;
    border-color: rgb(255, 95, 95);
    text-align: center;
}

#attempts {
    border-radius: 15px;
    border-color: greenyellow;
    border-width: 4px;
    text-align: center;
    width: 60px;
    font-size: x-large;
    margin-right: 10px;
}